@model AsignacionBienesINEI.Models.ViewModels.NuevaAsignacionViewModel
@{
    ViewData["Title"] = "Asignacion";
}

<div class="container-xl">
    <!-- Page title -->
    <div class="page-header d-print-none">
        <div class="row align-items-center">
            <div class="col">
                <h2 class="page-title">
                    Asignaciones de Bienes Tics
                </h2>
            </div>
        </div>
    </div>
</div>

<form method="get" asp-action="AsignacionView" asp-controller="Asignacion">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="page-body">
        <div class="container-xl">

            <div class="row row-cards">
                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-md-6 col-xl-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">USUARIO</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">

                                        <div class="col-xl-12">
                                            <div class="row">
                                                <div class="col-md-4 col-xl-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Persona Asignada</label>
                                                        <div class="row g-2">
                                                            <div class="col">
                                                                <input id="txtUsuarioNombres" type="text" asp-for="usuarioNombres" value="@Model.usuarioNombres" class="form-control" readonly>
                                                                @Html.ValidationMessageFor(model =>model.idUsuario, "", new { @class = "text-danger" })
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                        <div class="col-xl-3">
                                            <div class="row">
                                                <div class="col-md-4 col-xl-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">DNI</label>
                                                        <input id="txtDNI" asp-for="usuarioDNI" value="@Model.usuarioDNI" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-3">
                                            <div class="row">
                                                <div class="col-md-4 col-xl-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Oficina</label>
                                                        <input id="txtOdei" asp-for="usuarioOdei" value="@Model.usuarioOdei" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-6">
                                            <div class="row">
                                                <div class="col-md-8 col-xl-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">Username</label>
                                                        <input id="txtUserName" asp-for="usuarioUserName" value="@Model.usuarioUserName" type="text" class="form-control" readonly>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">EQUIPO INFORMATICO</h3>
                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-xl-5">
                                            <div class="row">
                                                <div class="col-md-4 col-xl-12">

                                                    <div class="mb-3">
                                                        <label class="form-label">¿El equipo estará fuera del INEI?</label>
                                                        <span class="d-none d-sm-inline">
                                                            <select asp-for="equipoFueraINEI" class="form-select">
                                                                <option value="@Model.equipoFueraINEI" selected="">@Model.equipoFueraINEI</option>
                                                            </select>
                                                        </span>
                                                        @Html.ValidationMessageFor(model =>model.equipoFueraINEI, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-xl-4">
                                            <div class="row">
                                                <div class="col-md-4 col-xl-12">
                                                    <div class="mb-3">
                                                        <label class="form-label">¿El equipo estará Libre?</label>
                                                        <span class="d-none d-sm-inline">
                                                            <select asp-for="equipoLibre" class="form-select">
                                                                <option value="@Model.equipoLibre" selected="">@Model.equipoLibre</option>
                                                            </select>
                                                        </span>
                                                        @Html.ValidationMessageFor(model =>model.equipoLibre, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>

                            <br />

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">ASIGNACIONES AÑADIDAS</h3>
                                </div>
                                <div class="card-body">
                                    <div class="card-table table-responsive">
                                        <table class="table table-vcenter">
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>CP</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>Dirección Técnica</th>
                                                    <th>Fecha de Ingreso</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int count = 1;
                                                }
                                                @foreach (var equipo in Model.asignacionesAgregadas)
                                                {
                                                    <tr>
                                                        <td>@count</td>
                                                        <td>@equipo.CP</td>
                                                        <td>@equipo.Marca</td>
                                                        <td>@equipo.Modelo</td>
                                                        <td>@equipo.DireccionTecnica</td>
                                                        <td>@equipo.FechaIngreso</td>
                                                        @{
                                                            count = count + 1;
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="row">
                        <div class="col-md-6 col-xl-12">

                            <div class="card">
                                <div class="card-header">
                                    <h3 class="card-title">REPORTE DE ASIGNACIONES DEL USUARIO</h3>
                                </div>
                                <div class="card-body">

                                    <div class="card-table table-responsive">
                                        <table id="eqs" class="table table-vcenter">
                                            <thead>
                                                <tr>                                                    
                                                    <th>Equipo</th>
                                                    <th>Marca</th>
                                                    <th>Modelo</th>
                                                    <th>CP</th>
                                                    <th>Dirección Técnica</th>
                                                    <th>Fecha</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{
                                                    int count2 = 1;
                                                }
                                                @foreach (var equipo in Model.asignacionesPorUsuario!)
                                                {
                                                    <tr>
                                                        <td>@count2</td>
                                                        <td>@equipo.Equipo</td>
                                                        <td>@equipo.Marca</td>
                                                        <td>@equipo.Modelo</td>
                                                        <td>@equipo.CP</td>
                                                        <td>@equipo.DireccionTecnica</td>
                                                        <td>@equipo.Fecha</td>
                                                        @{
                                                            count2 = count2 + 1;
                                                        }
                                                    </tr>                                                   
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-cards">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-footer text-end">
                            <div class="mb-3">
                                <textarea class="form-control" asp-for="observacion" value="@Model.observacion"
                                          rows="6" placeholder="Si tiene alguna observación digitela aquí..."></textarea>
                            </div>                          
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>